@model WebAppSalesMVC.Models.Subsidiary
@{
    ViewData["title"] = "Delete subsidiary";
}
<link rel="stylesheet" href="~/css/Style.css" />
<h1>@ViewData["title"]</h1>
<hr />
<div>
    <label>
        @Html.DisplayNameFor(model => model.Name)
    </label>
</div>
<div class="boxInfo">
    @Html.DisplayFor(model => model.Name)
</div>
<div>
    <label>
        @Html.DisplayNameFor(model => model.Email)
    </label>
</div>
<div class="boxInfo">
    @Html.DisplayFor(model => model.Email)
</div>
<div>
    <label>
        @Html.DisplayNameFor(model => model.Opening)
    </label>
</div>
<div class="boxInfo">
    @Html.DisplayFor(model => model.Opening)
</div>
<div>
    <label>
        @Html.DisplayNameFor(model => model.FixedCost)
    </label>
</div>
<div class="boxInfo">
    @Html.DisplayFor(model => model.FixedCost)
</div>
<div>
    <label>
        @Html.DisplayNameFor(model => model.State)
    </label>
</div>
<div class="boxInfo">
    @Html.DisplayFor(model => model.State.Name)
</div>
<hr />
<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Delete" class="myBottom deleteBotton" />
    <a asp-action="Index" class="myBottom backBotton">Back</a>
</form>