@model WebAppSalesMVC.Models.Subsidiary
@{
    ViewData["Title"] = "Details subsidiary";
}
<link rel="stylesheet" href="~/css/Style.css" />
<h1>@ViewData["Title"]</h1>
<hr />
<div>
    <label>
        @Html.DisplayNameFor(model => model.Name)
    </label>
</div>
<div class="boxInfo">
    @Html.DisplayFor(model => model.Name)
</div>
<div>
    <label>
        @Html.DisplayNameFor(model => model.Email)
    </label>
</div>
<div class="boxInfo">
    @Html.DisplayFor(model => model.Email)
</div>

<div>
    <label>
        @Html.DisplayNameFor(model => model.Opening)
    </label>
</div>
<div class="boxInfo">
    @Html.DisplayFor(model => model.Opening)
</div>

<div>
    <label>
        @Html.DisplayNameFor(model => model.FixedCost)
    </label>
</div>
<div class="boxInfo">
    @Html.DisplayFor(model => model.FixedCost)
</div>

<div>
    <label>
        @Html.DisplayNameFor(model => model.State)
    </label>
</div>
<div class="boxInfo">
    @Html.DisplayFor(model => model.State.Name)
</div>
<hr />
<a asp-action="Edit" asp-route-id="@Model.Id" class="myBottom editBotton">Edit</a>
<a asp-action="Index" class="myBottom backBotton">Back</a>