@model IEnumerable<WebAppSalesMVC.Models.State>
@{
    ViewData["Title"] = "States";
}
<h1>@ViewData["Title"]</h1>
<p>
    <a asp-action="Create" class="btn alert-success">Create state</a>
</p>
<hr />
<table class="table table-bordered">
    <thead>
        <tr>
            <th class="col-lg-10">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="col-xs-pull-2">
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
