@model IEnumerable<WebAppSalesMVC.Models.State>
@{
    ViewData["Title"] = "States";
}
<link rel="stylesheet" href="~/css/Style.css" />
<h1>
    @ViewData["Title"]
</h1>
<p>
    <a asp-action="Create" class="myBottom confirmBotton">Create state</a>
</p>
<hr />
<body>
    <table class="table table-responsive">
        <thead class="text-left">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Subsidiaries)
                </th>
                <th class="col-lg-2">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody class="text-left">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(x => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(x => item.Subsidiaries.Count)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>