@model IEnumerable<IGrouping<State, SalesRecord>>
@{
    ViewData["Title"] = "Search by state";
    var dateMin = DateTime.Parse(ViewData["dateMin"].ToString());
    var dateMax = DateTime.Parse(ViewData["dateMax"].ToString());
}
<link rel="stylesheet" href="~/css/Style.css"/>
<h1>@ViewData["Title"]</h1>
<form>
    <div>
        <label for="minDate">Min Date</label>
    </div>
    <div>
        <input type="date" class="inputBox" name="dateMin" value=@ViewData["dateMin"]>
    </div>
    <div>
        <span asp-validation-for="@ViewData["dateMin"]" class="text-danger"></span>
    </div>
    <div>
        <label for="maxDate">Max Date</label>
    </div>
    <div>
        <input type="date" class="inputBox" name="dateMax" value=@ViewData["dateMax"]>
    </div>
    <div>
        <span asp-validation-for="@ViewData["dateMax"]" class="text-danger"></span>
    </div>
    <button type="submit" class="myBottom editBotton">Filter</button>
</form>
<hr />
@foreach (var stateGp in Model)
{
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">State = @stateGp.Key.Name &Iota; Total sales = @stateGp.Key.TotalSales(dateMin, dateMax).ToString("C")</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-hover">
                <thead class="text-left">
                    <tr class="navSearch">
                        <th>
                            Date
                        </th>
                        <th>
                            Amount
                        </th>
                        <th>
                            Subsidiary
                        </th>
                        <th>
                            Status
                        </th>
                    </tr>
                </thead>
                <tbody class="text-left">
                    @foreach (var item in stateGp)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Amount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Subsidiary.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}